[submodule "themes/novela"]
	path = themes/novela
	url = https://github.com/amansharma007/hugo-theme-novela.git
[submodule "themes/hugo-theme-novela"]
	path = themes/hugo-theme-novela
	url = https://github.com/amansharma007/hugo-theme-novela
