<section id="articleHero" class="section narrow">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}
                    {{ .Page.Date.Format "January 2, 2006" }}
                    • {{ .ReadingTime }} min read
                </div>
            </div>

            {{ $articleCategories := .Page.Params.categories }}
            
            <div class="article-tag-chips" style="margin-top: 10px; padding: 0 !important;">
                {{ range site.Taxonomies.categories }}
                    {{ with .Page }}
                        <!-- Use href="{{ .RelPermalink }}" target="_blank" for link -->
                        {{ if in $articleCategories .Params.title }}
                            <span class="article-tag-chip">
                                {{ .Params.title }}
                            </span>
                        {{ end }}
                    {{ end }}
                {{ end }}
              </div>
        </header>
    </div>
</section>
